* {
    box-sizing: border-box;

    body {
        margin: 0;
        padding: 0;
    }
}

//
//  variables
//  _____________________________________________

@color : #0ca8c9;

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

// *
// Header
//______________________________

.header {
    background-color: #222222;
    font-family: poppins;
    color: white;
    height: 72px;

    //
    // Top Header
    //______________________________
    .top-header {

        display: flex;
        width: 1140px;

        height: 72px;
        margin: 0 auto;

        .address {
            i {
                border: 1px solid @color;
                color: @color;
                padding: 7px 10px;
                float: left;
                font-size: 16px;
                margin: 20px 0;
            }

            p {
                float: right;
                font-size: 12.3px;
                margin-left: 10px;
                margin-top: 18px;

                span {
                    opacity: 0.6;
                }
            }
        }

        .email {
            .address;

            i {
                padding: 7px 7.5px;
                font-size: 16px;
                margin: 20px 0;
            }

            p {

                letter-spacing: 1.5;
            }
        }

        .call {
            .address;

            i {
                padding: 6.5px 8px;
                font-size: 17px;
                margin: 20px 0;
                margin-left: -1px;
            }

            p {
                margin-left: 11px;
                letter-spacing: 1.5;
            }
        }

        div:not(:first-child) {
            margin-left: 20px;
        }

        .language {
            margin-top: 30px;
            padding-left: 386px;


            img {
                float: left;
                margin-top: 2px;
            }

            select {
                float: right;
                border: none;
                color: white;
                background-color: #222222;
                margin-left: 5px;
                padding-right: 26px;

                option {
                    font-size: 11.5px;
                }
            }
        }
    }

    //
    // Main header
    //______________________________
    .main-header {
        // display: flex;
        width: 1140px;
        height: 100px;
        margin: 0 auto;

        .left {
            float: left;
            margin: 26px 0;
        }

        .right {

            float: right;
            display: flex;
            margin: 30px 0;

            .search {

                // border: 1px solid #e0e0e0;

                form {
                    display: flex;

                    .input-search {
                        display: flex;
                        width: 500px;
                        height: 40px;
                        border: 1px solid #e0e0e0;
                        border-radius: 20px 0 0 20px;

                        select {
                            height: 38px;
                            border: none;
                            font-size: 12px;
                            margin-left: 18px;
                            padding-right: 10px;
                            font-family: poppins;

                        }

                        .line {
                            background-color: #e0e0e0;
                            width: 1px;
                            height: 24px;
                            margin: 7px 0;
                            margin-left: 32px;
                        }

                        input {

                            height: 36px;
                            width: 340px;
                            border: none;
                            margin-left: 16px;
                            font-family: poppins;
                            font-size: 12px;

                            // border: 1px solid #e0e0e0;

                        }
                    }
                }



                button {

                    margin-right: 20px;
                    height: 40px;
                    width: 57px;
                    border: none;
                    color: white;
                    background-color: white;
                    background: url('../images/bg_search.png') no-repeat;

                    img {
                        margin-left: -6px;
                    }

                }
            }

            .tools {
                margin-top: 6px;

                .cart {
                    margin-right: 7px;
                }

                .setting {
                    margin-right: 16px;
                }
            }
        }
    }

    //
    // Footer header
    //______________________________

    .ft-header {

        height: 50px;
        background-color: @color;


        .menu {

            width: 1140px;
            margin: 0 auto;

            .ft-left {
                float: left;
                // margin: 14px 0;
                margin-left: -210px;
                display: flex;

                button {
                    background-color: @color;
                    border: none;
                    height: 50px;
                }

                p {
                    margin: 14px 0 12px 11px;
                    color: white;
                    font-family: poppins;
                    font-size: 14.5px;
                }
            }

            .ft-right {
                float: right;

                nav ul {
                    display: flex;
                    list-style: none;

                    li {
                        margin-left: 61px;
                        margin-top: -3px;
                    }

                    a {
                        text-decoration: none;
                        color: white;
                        font-weight: bold;
                        font-size: 13px;
                        letter-spacing: 1px;
                    }
                }

            }

        }

    }


}

// *
// MAIN
//______________________________
.main {
    .top-main {
        // width: 1140px;

        background: url('../images/slide.jpg') no-repeat;
        background-size: cover;
        height: auto;

        .content {
            padding: 234px 0;
            padding-left: 390px;

        }

        .next {}

    }

    .between-main {
        width: 1140px;
        margin: 0 auto;


        .advan-top {
            display: flex;

            .shipping {

                span {
                    color: black;
                    font-size: 20px;
                }

                img {
                    float: left;
                    padding: 62px 0;
                }

                p {
                    float: right;
                    margin-top: 62px;
                    margin-left: 20px;
                    font-size: 12px;
                }

                color: #ababab;
            }

            .support {
                .shipping;
                margin-left: 20px;
            }

            .days {
                .shipping;
                margin-left: 45px;
            }

            .pay {
                .shipping;
                margin-left: 52px;
            }
        }

        .advan-bottom {
            .advan-left {
                float: left;
                width: 654px;
                height: 510px;
                background-color: #f0f0f0;
            }

            .advan-right {
                float: right;

                .advan-right-top {
                    height: 238px;
                    width: 457px;
                    background-color: #f0f0f0;
                    margin-bottom: 30px;
                }

                .advan-right-bottom {
                    .advan-right-top;
                }
            }
        }
    }



    .ft-main {
        width: 1140px;
        margin: 20px auto;
        clear: right;

        .ft-main-top {
            h2 {
                color: black;
                font-family: poppins;
                font-size: 32px;
            }

            .grid-container {
                display: grid;
                grid-column-gap: 30px;
                grid-row-gap: 50px;
                grid-template-columns: auto auto auto auto;

                .grid-item {
                    .product {
                        background-color: #f5f5f5;
                        width: 263px;
                        height: 263px;

                        img {
                            width: 138px;
                            height: 165px;
                            margin-left: 60px;
                            margin-top: 40px;
                        }
                    }

                    .content-product {
                        margin: 18px 25px 60px 25px;

                        p {
                            color: black;
                            text-align: center;
                            font-family: poppins;
                            font-weight: bold;

                        }

                        .price {
                            color: @color;

                            span {
                                color: black;
                                font-weight: normal;
                            }
                        }

                    }

                }

            }
        }

        .news {
            background: url('../images/bg_news.png') no-repeat;
            padding: 115px 0 100px 0;

            h2 {
                text-align: center;
                font-family: poppins;

            }

            .posts {
                display: flex;

                .content-post {
                    width: 360px;
                    &:not(:first-child){
                        margin-left: 30px;
                    }
                
                    p {
                        color: black;
                        font-weight: bold;
                    }

                    .day {
                        color: #8f8f8f;

                        span {
                            color: @color;
                        }
                    }

                    .titel{
                        // padding: 30px 0;
                    }
                }
            }

        }
    }

}